@if (Session["EmailID"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
        <li>@Html.ActionLink("Login", "Login", "Account")</li>

    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Hi"  +Session["EmailID"],"Index","Home")</li>
        <li>@Html.ActionLink("LogOut", "LogOut", "Account")</li>

    </ul>

}